<div class="page-header">
  <div class="container center-xs ">
    <h1>Giris Yap</h1>
  </div>
</div>
<form [formGroup]="form" (submit)="submit()">
  <div class="container mt-1 center-xs">
    <div class="LoginForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>EMail</mat-label>
          <input matInput formControlName="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="EMail" required>
          <mat-error>
            Duzgun e-mail adresi giriniz
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Sifre</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Sifre" required>
          <mat-error>Bos birakilamaz</mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button type="submit" color="primary">Giris Yap</button>
      </p>

    </div>
  </div>
</form>
